<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Faker.Net" version="1.1.1" targetFramework="net461" />
  <package id="NBuilder" version="6.1.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="17.4.0.44" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="17.4.0.44" targetFramework="net461" />
  <package id="Syncfusion.XlsIO.ClientProfile" version="17.4.0.44" targetFramework="net461" />
</packages>